{% extends 'base.html' %}
{% block navi_2 %}ITSM{% endblock %}
{% block navi_3 %}新资源申请{% endblock %}
{% block env_name %}新资源申请{% endblock %}
{% block env_ip %} {% endblock %}
{% block content %}
<div class="container">
    <div class="row" style="background-color: white">
        <div class="col-md-4">
            <h5 class="">申请人信息</h5>
            <div class="control-group">
                <input class="input-xlarge" type="text" />
            </div>
            <th>
                <label id="cn_name">中文名</label>
                <label id="mail">邮箱</label>
                <label id="phone">电话</label>
            </th>
        </div>
    </div>
    <hr />
    <div class="row" style="background-color: white">
        <div class="col-md-8">
            <h2>工程师处理中</h2>
        </div>
    </div>
    <hr />
    <div class="row" style="background-color: white">
        <div class="col-md-8">
            <h2>申请结束</h2>
        </div>
    </div>
</div>
{% endblock %}